
body{
    background-color: grey;
}

/*header*/
header{
    h1{
        color: skyblue;
        font-weight: bold;
        text-shadow:black 0px 0px 5px;
        margin-left: 5px;
    }
}

/*main*/
main{
    width: fit-content;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
    margin: auto;
    box-shadow: black 0px 0px 5px inset;
    background-color: skyblue;
    border-radius: 5px;
    position: relative;
    #alert{
        position: absolute;
        width: 92%;
        color: white;
        top: 50%;
        text-align: center;
        i{
            padding: 5px;
            font-size: smaller;
        }
    }
    .btnDiv,h2{
        text-align: center;
    }
    button{
        padding: 6px;
        border: none;
        border-radius: 3px;
        font-weight: bold;
    }
    .btnSignup{
        background-color: rgb(255, 242, 0);
        color: black;
    }
    .btnLogin{
        background-color: rgb(21, 108, 3);
        color: white;
    }
    button:hover,a:hover{
        cursor: pointer;
    }
    button:active{
        box-shadow:blueviolet 0px 0px 4px;
        color: red;
    }
    input,select{
        padding: 4px;
        border:1px solid blueviolet;
        outline: none;
    }
    input:hover,select:hover{
        box-shadow: black 0px 0px 7px;
        border-radius: 5px;
    }
    label{
        font-weight: bold;
    }
    a{
        color: blue;
    }
    a:active{
        color:red;
    }
    #signupForm{
        display: none;
    }
}

/*receptionist section*/
.recepTab{
    display: none;
    width: fit-content;
    min-width: 70%;
    margin: auto;
    background-color:skyblue ;
    border-radius: 4px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    h2,h3,.btnDiv{
        text-align: center;
    }
    .btnView2{
        width: 90%;
    }
    #updateForm{
        width: fit-content;
        margin: auto;
        font-weight: bold;
        color: white;
        .center{
            background-color:rgb(96, 96, 146);
            border-radius: 4px;
            padding: 4px;
            width: fit-content;
            margin: auto;
            p{
                
                font-family: cursive;
                font-weight:normal ;
                min-height: 70px;
                width: 95%;
                background-color: white;
                padding: 4px;
                color: blue;
                border: 2px solid black;
                border-radius: 3px;
            }
            div{
                width: 100%;
                margin: auto;
                button{
                    width:48%;
                    margin: 1%;
                    background-color: white;
                    color: black;
                    font-weight: bolder;
                }
                button:active{
                    color:white;
                    box-shadow: black 0px 0px 4px inset;
                }
            }
        }
    }
    h2{
        color: whitesmoke;
        text-shadow: black 0px 0px 1.4px;
    }
    h3{
        color: rgb(63, 63, 142);
    }
    #dataForm{
        position: relative;
        #alert2{
        position: absolute;
        width: 92%;
        color: white;
        top: 50%;
        text-align: center;
        i{
            padding: 5px;
            font-size: smaller;
        }
        }
    }
    p{
        font-weight: bold;
        width: fit-content;
        margin: auto;
    }
    ol{
        display: grid;
        grid-template-columns: 2.4fr 2.4fr 2.4fr 2.4fr 2.4fr;
        background-color: white;
        max-height: 300px;
        overflow-y: scroll;
        background-color: white;
        border-top:2px inset black;
        li{
            width: fit-content;
            margin: auto;font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            .btnView{
                display: none;
            }
        }
    }
    .unDiv{
        font-weight: bold;
        font-size: large;
        color: rgb(63, 63, 142);
        span{
            color:white;
            text-shadow: black 0px 0px 1.4px;
        }
        button{
            padding: 7px;
            background-image:linear-gradient(black,grey);
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 4px;
        }
        button:active{
            box-shadow:blueviolet 0px 0px 4px;
            color: red;
        }
    }
    
    table{
        width: fit-content;
        margin: auto;
    }
 button{
    color: white;
    padding: 6px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

#btnGen{
    background-color: rgb(48, 48, 245);
}
button:hover,a:hover{
    cursor: pointer;
}
button:active{
    box-shadow:blueviolet 0px 0px 4px;
    color: red;
}
input,select{
    padding: 4px;
    border:1px solid blueviolet;
    outline: none;
}
input:hover,select:hover{
    box-shadow: black 0px 0px 7px;
    border-radius: 5px;
}
label{
    font-weight: bold;
}
a{
    color: blue;
}
a:active{
    color:red;
}
}

/*doctor section*/
.doctorTab{
    display: none;
    width:fit-content;
    min-width: 70%;
    margin: auto;
    background-color:  rgb(218, 232, 247);
    background-color: skyblue;
    border-radius: 4px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;

    button{
        padding: 6px;
        border: none;
        border-radius: 3px;
        font-weight: bold;
        border: none;
        border-radius: 4px;
    }
    p{
        font-weight: bold;
        width: fit-content;
        margin: auto;
    }
    #preview{
        height: fit-content;
        width: fit-content;
        min-height: 100px;
        margin: auto;
        font-weight: bold;
        color: white;
        position: relative;
        .alert{
            position: absolute;
            bottom: 40%;
            font-size: small;
            span{
            padding: 2px;
            width: fit-content;
            margin: auto;
            background-color:white;
            }
        }
        textarea{
            color: blue;
            font-family: cursive;
            resize: none;
            background-color: white;
            outline: none;
            border-radius: 3px;
        }
        input{
            color: green;
            font-weight: bold;
            height: 25px;
            outline: none;
            border: none;
            border-radius: 3px;
            background-color:white;
        }
        input:hover,textarea:hover,button:hover{
            box-shadow:white 0px 0px 7px;
        }
        input::-webkit-inner-spin-button{
            -webkit-appearance: none;
        }
        .preview{
            background-color:rgb(103, 77, 107);
            border-radius: 4px;
            padding: 10px;
            u{
                font-size: large;
            }
            input{width: 50%;}
            .center{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                button{
                    width: 40%;
                    margin: 3px;
                }
            }
        }
        div{
            width: fit-content;
            margin: auto;
        }
        button{
            width: fit-content;
            font-weight: bold;
            padding: 5px;
            border-radius: 4px;
            border: none;
            box-shadow:white 0px 0px 1px;
            background-color: white;
        }
    }
    h2{
        text-align: center;
        color: yellow;
        text-shadow: black 0px 0px 2px;
    }
    ol{
        display: grid;
        grid-template-columns: 2.4fr 2.4fr 2.4fr 2.4fr 2.4fr;
        border-top:2px inset black;
        background-color: white;
        max-height: 300px;
        overflow-y: scroll;
        li{
            width: fit-content;
            margin: auto;
            font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            button{
                width: 100%;
                color: white;
                border: none;
            }
            .btnView2{
                display: none;
            }
            
        }
    }
    .unDiv{
        font-weight: bold;
        font-size: large;
        color:black;
        span{
            color:rgb(162, 255, 40);
            text-shadow: black 0px 0px 2px;
        }
        button{
            padding: 7px;
            background-image:linear-gradient(black,grey);
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 4px;
        }
    }
    
    table{
        width: fit-content;
        margin: auto;
    }
    label{
        font-weight: bold;
    }
    a{
        color: blue;
    }
    a:active{
        color:red;
    }
    a:hover,input:hover{
        cursor: pointer;
    }
    button:active{
        box-shadow:blueviolet 0px 0px 4px;
        color: red;
    }
    button:hover{
        cursor: pointer;
    }
}
@media only screen and (max-width:1700px){
    .recepTab ol,.doctorTab ol{
        grid-template-columns: 3fr 3fr 3fr 3fr;
    }
}
@media only screen and (max-width:1300px){
    .recepTab ol,.doctorTab ol{
        grid-template-columns: 4fr 4fr 4fr;
    }
}
@media only screen and (max-width:1000px){
    .recepTab ol,.doctorTab ol{
        grid-template-columns: 6fr 6fr;
        max-height: 700px;
    }
    
}
@media only screen and (max-width:600px){
    body{
        width: 100%;
        margin:0px;
    }
    .recepTab ol,.doctorTab ol{
        grid-template-columns: 12fr;
    }
    
    .recepTab,.doctorTab{
        padding: 3px;
        .unDiv{
            font-size: medium;
        }
    }
}